body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

main {
  min-width: 100px;
  max-width: 800px;
  font-size: 2em;
}

main h3 {
  font-size: 0.6em;
  font-weight: 100;
  margin-top: -40px;
}

main p {
  box-shadow: 4px 4px grey;
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
}

main p .cursor {
  display: inline-block;
  background: rgb(59, 59, 59);
  width: 15px;
  height: 25px;
  margin-bottom: -3px;
  margin-left: -5px;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
